@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400&family=Moon+Dance&family=Titillium+Web&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* 
{
    font-family: 'Geologica', sans-serif;
    /* background-color: #2f3e46; */
}

nav {
    background-color: #2f3e46;
}


/* about page CSS */
.about-page {
    background-image: url('../public/images/about-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* additional styles */
  }


